body {
    font-family: 'Raleway', Helvetica, sans-serif;
    --lightgrey: #e0d6d2;
    --blue: #071c32;
    --darkgreen: #4a5951;
}

*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.logolink {
    margin: 20px 0;
}

#paymentimage {
    height: 150px;
}

#content img {
    border: 3px solid var(--blue);
}

@media only screen and (max-width: 900px) {
    body {
        margin: 0;
    }

    #header {
        background: var(--blue);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #header-content {
        width: 100%;
    }

    #mobile-navbar {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--darkgreen);
        width: 100%;
        margin: 0;
        border-bottom: 1px solid black; 
    }

    #hamburger-menu-btn {
        color: var(--lightgrey);
    }

    #navbar {
        display: none;
    }

    #logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--blue);
    }

    #logo p {
        color: var(--lightgrey);
        font-size: 1.1em;
        text-align: center;
        margin-bottom: 5px;
    }
    #main-page {
        width: 100%;
        background: var(--lightgrey);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #schedule-appointment {
        padding: 25px;
        background: var(--darkgreen);
        margin-top: 30px;
        color: white;
        font-size: 1.2em;
        font-weight: bold;
        border-radius: .5em;
        word-spacing: 8px;
    }

    #contact-header {
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        font-size: 1.2em;
        text-align: center;
        color: white;
        padding: 10px;
    }

    #contact-header span {
        font-weight: bold;
        margin-left: 12px;
    }

    #content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 15px;
        background: white;
    }

    .splitter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #content img {
        margin: 20px 0;
    }

    .logolink {
        margin: 10px 0;
    }
}

@media only screen and (min-width: 901px) {
    body {
        margin: 0;
    }

    #header {
        width: 55%;
        min-width: 834px;
        height: 202px;
        background: var(--blue);
    }

    #header-wrapper {
        background: var(--blue);
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    #header-content {
        display: flex;
    }

    #navbar {
        width: 100%;
        background: var(--darkgreen);
        margin: 0;
        height: 50px;
        z-index: 100;
        border-bottom: 0;
    }

    #mobile-navbar {
        display: none;
    }

    #navbar *.item {
        font-size: 1.2em;
        color: white;
        border-bottom: 0;
        margin-bottom: 0;
    }

    #navbar *.active.item {
        border-bottom: 2px solid white;
    }

    #logo {
        z-index: 100;
        background: var(--blue);
    }

    #logo p {
        color: var(--lightgrey);
        font-size: 1.1em;
        text-align: center;
        margin-bottom: 5px;
    }

    #main-page {
        width: 100%;
        background: var(--lightgrey);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
    }

    #contact-header {
        z-index: 50;
        background: rgba(0, 0, 0, 0.7);
        font-size: 2em;
        text-align: center;
        line-height: 120px;
        color: white;
        padding: 10px;
        flex: 1;
    }

    #contact-header span {
        font-weight: bold;
        margin-left: 12px;
    }

    .pusher {
        background: var(--lightgrey);
    }

    #content {
        display: flex;
        flex-direction: column;
        margin: 50px 0;
        background: white;
        min-width: 834px;
        width: 55%;
        height: 100%;
        padding: 50px;
    }

    #content p {
        font-size: 1.2em;
        margin-bottom: 15px;
    }

    #content h1 {
        margin-bottom: 25px;
    }

    .splitter {
        display: flex;
    }

    .splitter img {
        width: auto;
        height: 240px;
        margin: 0 0 25px 25px;
    }

    #content li {
        font-size: 1.2em;
    }

    #meet-staff-header {
        text-align: center;
    }
}
