body {
    font-family: 'Raleway';
    --lightgrey: #e0d6d2;
    --blue: #071c32;
    --darkgreen: #4a5951;
}

@media only screen and (max-width: 768px) {
    body {
        margin: 0;
    }

    #header {
        background: var(--blue);
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #header-content {
        position: relative;
        width: 100%;
    }

    #mobile-navbar {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--darkgreen);
        width: 100%;
        margin: 0;
        z-index: 100;
        border-bottom: 1px solid black; 
    }

    #hamburger-menu-btn {
        color: var(--lightgrey);
    }

    #navbar {
        display: none;
    }

    #pic1 {
        background-image: url("../img/pazzoslide41.jpg");
        background-size: cover;
    }

    #pic2 {
        background-image: url("../img/pazzoslidewithgradient.jpg");
        background-size: cover;
    }

    .pic {
        height: 200px;
        background-repeat: no-repeat;
        background-position: center;
    }

    #logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--blue);
    }

    #logo p {
        color: var(--lightgrey);
        font-size: 1.1em;
        text-align: center;
        margin-bottom: 5px;
    }

    #main-page {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #schedule-appointment {
        padding: 25px;
        background: var(--darkgreen);
        margin-top: 30px;
        color: var(--lightgrey);
        font-size: 1.2em;
        font-weight: bold;
        border-radius: .5em;
        word-spacing: 5px;
    }

    #contact-header {
        position: absolute;
        z-index: 50;
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        font-size: 1.2em;
        text-align: center;
        color: white;
        padding: 10px;
    }

    #contact-header span {
        font-weight: bold;
        margin-left: 12px;
    }
}

@media only screen and (min-width: 769px) {
    body {
        margin: 0;
    }

    #header {
        height: 500px;
        background: var(--blue);
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #header-content {
        position: relative;
        height: 100%;
        width: 55%;
        min-width: 834px;
    }

    #navbar {
        width: 100%;
        background: var(--darkgreen);
        margin: 0;
        height: 50px;
        position: relative;
        bottom: 50px;
        z-index: 100;
    }

    #mobile-navbar {
        display: none;
    }

    #navbar *.item {
        font-size: 1.2em;
        color: white;
    }

    #navbar *.active.item {
        border-bottom: 2px solid white;
    }

    #pic1 {
        background-image: url("../img/pazzoslide41.jpg");
    }

    #pic2 {
        background-image: url("../img/pazzoslidewithgradient.jpg");
    }

    #carousel {
        height: 100%;
    }

    .pic {
        height: 500px;
        background-size: auto 500px;
        background-repeat: no-repeat;
        background-position: center;
    }

    #logo {
        position: absolute;
        left: 10px;
        z-index: 100;
        background: var(--blue);
    }

    #logo p {
        color: var(--lightgrey);
        font-size: 1.1em;
        text-align: center;
        margin-bottom: 5px;
    }

    #main-page {
        width: 100%;
        background: var(--lightgrey);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #sections {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #sections p {
        font-size: 2em;
        width: 300px;
        text-align: center;
        margin: 50px 0;
        padding: 0 10px;
    }

    #sections span {
        font-weight: bold;
    }

    #middle-section {
        border-left: 1px solid #a8a8a8;
        border-right: 1px solid #a8a8a8;
    }

    #schedule-appointment {
        padding: 25px;
        background: var(--darkgreen);
        margin-top: 30px;
        color: white;
        font-size: 2em;
        font-weight: bold;
        border-radius: .5em;
        word-spacing: 8px;
    }

    #contact-header {
        position: absolute;
        z-index: 50;
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        font-size: 2em;
        text-align: right;
        color: white;
        padding: 10px;
    }

    #contact-header span {
        font-weight: bold;
        margin-left: 12px;
    }

    #content {
        width: 100%;
        background: var(--blue);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
    }

    #inner-content {
        background: var(--blue);
        color: white;
        width: 55%;
        min-width: 834px;
    }

    #inner-content h1 {
        font-size: 2.3em;
        margin-bottom: 25px;
    }

    #inner-content video {
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }

    #inner-content p {
        font-size: 1.2em;
    }

    #mini-infos {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info h1 {
        text-align: center;
    }

    .info p {
        font-size: 1.2em;
    }
    
    .info-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 50px 50px 25px 50px;
        margin: 0 25px 25px 25px;
        width: 400px;
        height: 530px;
        background: white;
    }

    .info-wrapper a {
        color: white;
        padding: 18px;
        width: 240px;
        background: var(--darkgreen);
        font-size: 1.7em;
        text-align: center;
        border-radius: 0.5em;
    }
}
